<dialog class="dialog modal" role="dialog" aria-label="modal">
  <div class="modal__btn-container">
    <button class="close-modal modal__btn-close" autofocus>Close</button>
  </div>
  <img class="modal__img" src="<%= paintings[index].images.gallery %>" alt="<%= paintings[index].name %>" />
</dialog>
