<li class="card">
  <img src="<%= painting.images.thumbnail %>" alt="<%= painting.name %>" />
  <div class="card__text">
    <h2 class="card__title"><%= painting.name %></h2>
    <h3 class="card__sub-title"><%= painting.artist.name %></h3>
  </div>
</li>
