<!DOCTYPE html>
<html lang="en">
  <%- include("includes/headHome.ejs") %>

  <body>
    <%- include("includes/header.ejs") %>
    <main>
      <ul class="grid cards-container">
        <% paintings.forEach(function(painting) { %> <%- include("includes/card.ejs", {painting}) %> <% }) %>
      </ul>
    </main>
    <%- include("includes/footer.ejs") %>

    <script src="/js/masonryConfig.min.js" async></script>
    <script src="/js/vendor/masonry.min.js"></script>
    <script src="/js/card.min.js" async></script>
  </body>
</html>
