.card {
  margin: 1.5rem;
  position: relative;

  &__text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: var(--clr-light);
    padding: 2rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__sub-title {
    font-size: 0.8125rem;
    filter: opacity(0.7528);
  }
}
