.card {
  &:hover {
    cursor: pointer;

    .card__image-overlay {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 100%);
    }
  }

  &__title-link:focus-within {
    outline: none;
    outline-offset: 0;
  }

  &:focus-within {
    outline: 2px dashed var(--clr-focus);
    outline-offset: 5px;
  }

  &__image-container {
    position: relative;
    display: grid;
  }

  &__image-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__text {
    position: absolute;
    bottom: -2%;
    left: -1%;
    color: var(--clr-light);
    padding: 0 0 2rem 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    width: 246px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__sub-title {
    font-size: 0.8125rem;
    font-weight: 400;
    filter: opacity(0.7528);
  }
}

.grid {
  margin: 0 auto;
}

.grid-item {
  margin-bottom: 20px;
}
