.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  height: 2px;
  width: 100%;
  background: var(--grey-200);
}

.controls__text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.controls__title {
  color: var(--clr-dark);
  font-size: 0.875rem;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }
}

.controls__text {
  color: var(--clr-dark);
  font-size: 0.625rem;
  font-weight: 400;
  filter: opacity(0.7528);

  @media (min-width: 768px) {
    font-size: 0.8125rem;
  }
}

.controls__btns {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
}

.controls__btn-back-img,
.controls__btn-next-img {
  height: 16px;

  @media (min-width: 768px) {
    height: 24px;
  }
}
