.controls-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  height: 2px;
  width: 100%;
  background: var(--grey-200);
}

.controls__text-container {
  padding: 1rem;
}

.controls__title {
  color: var(--clr-dark);
  font-size: 0.875rem;
  font-weight: 700;
}

.controls__text {
  color: var(--clr-dark);
  font-size: 0.625rem;
  font-weight: 400;
  filter: opacity(0.7528);
}

.controls__btns {
  padding: 1rem;
}

.controls__btn-back-img,
.controls__btn-next-img {
  height: 16px;
}
