.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.3rem 1.25rem;
  box-shadow: 0px 2px 1px -2px;
  margin: 0 0 1.5rem 0;

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__text {
    text-transform: uppercase;
    color: var(--grey-700);
    font-size: 0.5625rem;
    letter-spacing: 1.929px;
  }
}
