::backdrop {
  background: rgba(0, 0, 0, 1);
  // opacity: 0.8539;
}

.modal {
  background: transparent;
  border: none;
}

.modal__btn-container {
  background: transparent;
  display: flex;
  justify-content: flex-end;
}

.modal__btn-close {
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent;
  color: var(--clr-light);
  padding: 2rem 0;
  margin: 1rem;
}
