.slide-container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 375px;
  position: relative;
}

.slide__img-view-btn {
  background: rgba(0, 0, 0, 0.7546);
  color: var(--clr-light);
  border: none;
  padding: 0.8rem 1rem;
  font-family: inherit;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2.143px;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 43px;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.view-icon {
  padding-right: 1rem;
}

.slide__img-container {
  height: 280px;
  width: 327px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide__title-container {
  width: 280px;
  height: 104px;
  position: relative;
  background: var(--clr-light);
  bottom: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.slide__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.slide__sub-title {
  color: var(--grey-700);
  font-size: 0.875rem;
  font-weight: 400;
}

.slide__hero-img {
  width: 64px;
  position: relative;
  bottom: 48px;
  left: 24px;
}

.slide__year-container {
  position: relative;
}

.slide__year {
  color: var(--grey-200);
  font-size: 6.25rem;
  font-weight: 700;
  position: absolute;
  z-index: -1;
  right: -273px;
  bottom: -34px;
}

.slide__text {
  color: var(--grey-700);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 28px;
}

.slide__link {
  color: #7d7d7d;
  font-size: 0.5625rem;
  font-weight: 700;
  letter-spacing: 1.929px;
  text-decoration-line: underline;
  display: inline-block;
  margin: 58px 0;
}
